// stylelint-disable indentation

// Utilities
// stylelint-disable-next-line scss/dollar-variable-default
$utilities: (
    // scss-docs-end utils-vertical-align
    // scss-docs-start utils-float
    "float": (
      responsive: true,
      property: float,
      values: (
        start: right,
        end: left,
        none: none,
      )
    ),
    "margin-end": (
      responsive: true,
      property: margin-left,
      class: me,
      values: map-merge($spacers, (auto: auto))
    ),
    "margin-start": (
      responsive: true,
      property: margin-right,
      class: ms,
      values: map-merge($spacers, (auto: auto))
    ),
    "negative-margin-end": (
      responsive: true,
      property: margin-left,
      class: me,
      values: $negative-spacers
    ),
    "negative-margin-start": (
      responsive: true,
      property: margin-right,
      class: ms,
      values: $negative-spacers
    ),
    "padding-end": (
      responsive: true,
      property: padding-left,
      class: pe,
      values: $spacers
    ),
    "padding-start": (
      responsive: true,
      property: padding-right,
      class: ps,
      values: $spacers
    ),
    "text-align": (
      responsive: true,
      property: text-align,
      class: text,
      values: (
        start: right,
        end: left,
        center: center,
      )
    )
    // scss-docs-end utils-visibility
  );