.dropdown-item{
    &:hover, &:focus{
        color: var(--#{$variable-prefix}primary-shade-20);
    }
    &.active, &:active{
        color: var(--#{$variable-prefix}white);
        background-color: var(--#{$variable-prefix}primary);
    }
}